/* login */
.login {
    height: 486px;
    margin-top: 150px;
    background: #EBEEFD;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;

    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.login .login-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;

    grid-column-start: 1;
    grid-column-end: 3;
    padding: 50px;
}

.login-detail h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;

}

.login-detail input {
    width: 350px;
    margin-top: -100px;
}

.login-detail p {
    margin: 10px 0 10px;
}

.login-detail button {
    margin-top: 20px;
    width: 350px;
}

.login-detail a {
    text-decoration: none;
}

.login-detail .rref {
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
}


.login .fligh {
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 6;
}

.login .login-detail2 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    grid-column-start: 1;
    grid-column-end: 3;
    padding: 50px;
}

.login-detail2 h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;

}

.login-detail2 input {
    width: 350px;
    margin-top: -100px;
}

.login-detail2 p {
    margin: 10px 0 10px;
}

.login-detail2 button {
    margin-top: 20px;
    width: 350px;
}

.login-detail2 a {
    text-decoration: none;
}

.login-detail2 .rref {
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
}

.login-detail2 .name input {
    width: 160px;
}

.login-detail2 .name label {
    width: 360px;
}

.login-detail2 .name .poto input {
    width: 101px;
    height: 32px;
}

/* login */

/* login */
@media screen and (max-width: 1399px) {
    .login .fligh {
        height: 100%;
        padding: 10px;
        padding: 0;
    }

    .login-detail input {
        width: 350px;
        margin-top: -100px;
    }

    .login-detail2 input {
        width: 350px;
        margin-top: -100px;
    }

    .login-detail2 .name input {
        width: 170px;
    }
}

@media screen and (max-width: 1000px) {
    .login {
        height: 950px;
        grid-template-rows: repeat(2, 1fr);
    }

    .login .fligh {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .login .login-detail {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .login-detail input {
        width: 400px;
        margin-top: -100px;
    }

    .login-detail2 .name input {
        width: 400px;
    }

    .login-detail button {
        margin-top: 20px;
        width: 400px;
    }

    .login .login-detail2 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .login-detail2 input {
        width: 400px;
        margin-top: -100px;
    }

    .login-detail2 button {
        margin-top: 20px;
        width: 400px;
    }

}

@media screen and (max-width: 425px) {
    .login .login-detail {
        padding: 30px;
    }

    .login .login-detail2 {
        padding: 30px;
    }

    .login-detail2 .name input {
        width: 160px;
    }
}

/* login us */


