.login-container section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    margin-top: 100px;
    background: rgb(233, 233, 233);
    border-radius: 5px;
    overflow: hidden;

    font-size: 14px;
}

.login-container ul {
    list-style: none;
}

.login-container .login-header {
    text-align: center;

    padding: 30px;
    font-size: 14px;
}

.login-container section input[type="button"] {
    margin-top: 20px;
    background: #007AFF;
    color: white;
}

.login-container section img {
    width: 100%;

    grid-row-start: 1;
}

.login-container .login-form,
.login-container .register-form {
    padding: 0 25px 30px 25px;
}

@media screen and (min-width: 1000px) {
    .login-container .login-form,
    .login-container .register-form {
        padding: 0 80px 60px 80px;
    }
}

/* personal */

.personal-container {
    padding-top: 50px;
    background: rgb(233, 233, 233);
    border-radius: 5px;
    margin-top: 120px;

    font-size: 14px;
}

.personal-container input {
    margin-top: -3px;
}

.personal-container .personal_header {
    text-align: center;
}

.personal-container p {
    font-size: 14px;
}

.personal-container form {
    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.personal-container ul {
    padding: 0 0 20px 0;
}

.personal-right {
    margin-top: -80px;
}

.personal-bottom {
    margin-top: -30px;
}

.personal-bottom input {
    background: #007AFF;
    color: white;
}

/* personal */


@media screen and (min-width: 768px) {
    .login-container section {
        grid-template-columns: repeat(2, 1fr);
    }

    .login-container section img {
        width: 100%;

        grid-row-start: 1;
        grid-column-start: 2;
        height: 100%;
    }

    .personal-container form {
        grid-template-columns: repeat(2, 1fr);
    }

    .personal-container form {
        position: relative;
    }

    .personal-container ul {
        display: flex;
        flex-direction: column;
        padding: 0 0px 80px 0px;
    }

    .personal-bottom {
        position: absolute;
        bottom: -60px;
        right: 15px;
    }
}

@media screen and (min-width: 1000px) {
    .login-container section ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 40px;
    }

    .login-container section input {
        width: 100%;
    }

    .login-container section img {
        width: 100%;

        grid-column-start: 2;
        height: 100%;
    }

    .login-container section input[type="button"] {
        margin-top: 40px;
    }

    .personal-container ul {
        display: flex;
        flex-direction: column;
        padding: 0 50px 100px 50px;
    }

    .personal-container input {
        width: 100%;
    }

    .personal-bottom {
        position: absolute;
        bottom: -80px;
        right: 0;
    }
}

@media screen and (min-width: 1440px) {
    .login-container section ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 80px 40px;
    }
}