.container.all-transaction h5 {
    margin: 1rem 0 1.625rem 0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.62);
}

.container.transaction-list {
    width: 100%;
}

.container.all-transaction {
    width: 1012px;
}

.container.transaction-list .title-transaction {
    margin: 1.938rem 0 1.625rem 0;
}

.container.transaction-list .title-transaction a {
    color: rgba(0, 0, 0, 0.62);
}

.container.transaction-list h5 {
    margin-bottom: 0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.62);
}

.container.transaction-list h5.breadcrumb-detail {
    font-weight: 900;
}

.container.table-transaction {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 3.438rem;
}

.transaction-card {
    margin-left: 45px;
    margin-bottom: 60px;
    width: 100%;
    border: 0;
}
.transaction-card .transaction-card-detail {
    width: calc(100% - 90px);
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 100px;
    box-sizing: border-box;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
}

.section_top,
.section_bottom {
    gap: 40px;
}

.section_top .right-list,
.section_top .left-list,
.section_bottom .right-list,
.section_bottom .left-list {
    width: 45%;
}

.data-item {
    font-size: 12.5px !important;
    width: 450px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.data-item .data-item__value {
    font-size: 14px !important;
}

.data-item .data-item__value > span.alert-status {
    padding: 3px 8px;
    border-radius: 3px;
    color: #0f5132;
    background-color: #BFFCBA;
    border-color: #badbcc;
}

.section_bottom .right-list h5.total-price {
    font-size: 20px !important;
    font-weight: 500;
    line-height: 30px;
    color: #000 !important;
    margin-bottom: 1rem;
}

.section_bottom .right-list .subtotal-price {
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    color: #007AFF;
}

.container.table-transaction .table thead th {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 21px;
    align-items: center;
    color: rgba(0, 0, 0, 0.59);
}


.container.table-transaction table.table {
    width: calc(100% - 20px);
    margin-top: 50px;
}

.container.table-transaction tbody tr td.booking_code,
.container.table-transaction thead th.booking_code {
    text-align: start;
    padding-left: 27px;
}

.container.table-transaction tbody tr td {
    font-size: 0.875rem;
}

.container.table-transaction tbody tr td.col_date {
    color: #8A8A8A;
}

.container.table-transaction tbody tr td.status_col {
    vertical-align: middle;
}

.container.table-transaction .table>:not(caption)>*>* {
    padding: 0;
}

.alert {
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 30px;
    display: flex;
    padding: 5px;
    margin: 0 auto;
    border-radius: 6px;
    font-size: 12px;
}

.alert_success {
    color: #0f5132;
    background-color: #BFFCBA;
    border-color: #badbcc;
}

.alert_warning {
    color: #514a0f;
    background-color: #F2FFA5;
    border-color: #dbdaba;
}

.alert_danger {
    color: #510f0f;
    background-color: #ffa5a5;
    border-color: #dbbaba;
}

@media only screen and (max-width: 395px) {
    .container-fluid .title-dashboard {
        font-size: 18px !important;
    }

    .container.transaction-list h5.breadcrumb-detail {
        font-size: 12px !important;
        margin-left: 0 !important;
    }

    .container.transaction-list .next-breadcrumb {
        font-size: 10px !important;
    }
    
    .section_top .data-item__name,
    .section_bottom .data-item__name {
        font-size: 10px;
        font-weight: 600;
    }

    .section_top .data-item p.data-item__value,
    .section_bottom .data-item p.data-item__value {
        font-size: 10px !important;
    }
}

@media only screen and (max-width: 550px) {
    .container-fluid {
        padding-left: 15px !important;
    }

    .container.table-transaction {
        width: calc(100% - 20px) !important;
        margin-left: 0;
        margin-right: 0;
    }

    .container.table-transaction table.table {
        margin-top: 15px;
        margin-bottom: 50px;
    }

    .container.table-transaction .table tbody tr td {
        width: 100% !important;
    }

    .container.table-transaction .table tbody tr td:nth-of-type(1),
    .container.table-transaction .table tbody tr td:nth-of-type(3),
    .container.table-transaction .table tbody tr td:nth-of-type(5) {
        border-right-width: 0 !important;
    }

    .container.table-transaction .table tbody tr td.td_action {
        border-bottom: 0 !important;
    }
}

@media only screen and (max-width: 767px) {
    .data-item .data-item__value {
        font-size: 12px !important;
    }

    .title-dashboard {
        font-size: 21px !important;
    }

    .container.transaction-list .title-transaction a svg {
        width: 30px;
        height: 30px;
    }

    .container.transaction-list h5.breadcrumb-detail {
        font-size: 16px;
    }

    .container.transaction-list .next-breadcrumb {
        font-size: 14px;
    }

    .container.transaction-list,
    .container.all-transaction {
        width: 100%;
    }

    .transaction-card {
        margin-left: 0;
        width: calc(100% - 10px);
    }

    .transaction-card .transaction-card-detail {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .section_top .data-item,
    .section_bottom .data-item {
        width: 100% !important;
    }

    .transaction-card-detail .section_top .data-item,
    .transaction-card-detail .section_bottom .data-item {
        grid-template-columns: repeat(2, 1fr);
    }

    .section_top .right-list,
    .section_top .left-list,
    .section_bottom .right-list,
    .section_bottom .left-list {
        width: 100%;
    }

    .section_top,
    .section_bottom {
        gap: 20px;
        flex-direction: column !important;
    }

    .section_bottom .right-list h5.total-price,
    .section_bottom .right-list .subtotal-price {
        text-align: end;
    }

    .container.table-transaction .table tbody tr td:nth-of-type(1),
    .container.table-transaction .table tbody tr td:nth-of-type(3),
    .container.table-transaction .table tbody tr td:nth-of-type(5) {
        border-right-width: 1px;
    }
    
    .container.table-transaction .table thead {
        display: none;
    }

    .container.table-transaction .table tbody {
        border: 0;
    }

    .container.table-transaction .table {
        display: block;
        width: 100% !important;
        margin-top: 0.625rem;
    }

    .container.table-transaction .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }

    .container.table-transaction .table tr {
        border-radius: 0.5rem;
        margin-bottom: 0.938rem;
        border: 1px solid #D9D9D9;
    }

    .container.table-transaction .table td {
        text-align: end !important;
        padding: 0 15px;
        position: relative;
    }

    .container.table-transaction .table tbody tr td {
        display: block;
        width: 50%;
        float: left;
    }

    .container.table-transaction .table td.status_col {
        text-align: end;
        padding: 10px;
    }

    .container.table-transaction .table td.td_action {
        width: 100%;
    }

    .container.table-transaction .table td .detail_transaction svg {
        display: none;
    }

    .container.table-transaction .table td .detail_transaction::before {
        content: "Detail";
    }

    .container.table-transaction .table td::before {
        content: attr(data-label);
        display: block;
        position: absolute;
        top: 5px;
        left: 0;
        width: 30%;
        padding-left: 0.938rem;
        text-align: start;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.59);
    }

    .alert {
        margin-left: auto;
        margin-right: 0;
    }
}

@media only screen and (min-width: 996px) {
    .container.all-transaction {
        width: 100%;
    }

    .transaction-card .transaction-card-detail {
        width: 69%;
    }
}

@media only screen and (max-width: 995px) {
    .data-item .data-item__value {
        font-size: 12px !important;
    }
}

.delete-transaction-btn {
    cursor: pointer;
}